*
{
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    box-sizing: border-box
}
body{
    background-color: blueviolet;
    border: 2px solid gray;
    padding: 5px;
    box-sizing: border-box;
    display: inline-block;
    width: 950px;
    height: 600px;
    align-items: center;
    margin-top: 60px;
    margin-left: 288px;
    border-radius: 8px;
    overflow: hidden;

    
}