*
{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;


}
html,body
{
    width: 100%;
    height: 100%;
}
section
{
    display: flex;
    padding: 50px;
    padding-left: 180px;
}
section div
{
    width: 500px;
    height: 500px;
}
section .div1
{
    width: 100%;
    background-color: rgb(203, 55, 55);
    color: white;
}
section .div2
{
    width: 800px;
    align-items: center;
    justify-content: center;
    padding: 150px 350px;

}
section .div2 input
{
    padding: 20px;
    width: 600px;
    position: relative;
    right: 250px;
    border-left: none;
    border-top: none;
    border-right:none ;
    top: -100px;
}
button
{
    padding: 20px;
    width: 600px;
    position: relative;
    right: 250px;
    background-color:rgb(203, 55, 55);
    color: white;
    font-size: 20px;
    top: -75px;
}
.ancor1
{
    position: relative;
    top: -130px;
    font-size: 20px;
    left: 275px;
    text-decoration: none;
    color:rgb(203, 55, 55);
}
.button
{
    position: relative;
    top: -57px;
    background-color: rgba(255, 255, 255, 0.844);
    color:rgb(203, 55, 55);
    border-left: none;
    border-top: none;
    border-right:none ;

}
section .div1 h1
{
    position: relative;
    top: 50px;
    left: 150px;
}